* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
body {
    overflow-x: hidden;
    background: url('img/got.jpeg') center center;
    background-size: cover;
    font-size: 16px;
    height: 100%;	
}